body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#8f9c92;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color:#4BFFFE;
  color:#EB57B7 ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

button:hover {
  background-color:#4BFFFE  ;
}
